server {
    host 127.73.73.7;
	listen 7681;
	server_name 127.73.73.7;
    client_max_body_size 50;
	error_page 404 /404.html;
	error_page 430 /430.html;

    location /js {
        allow GET POST;
    }

    location /images {
        allow GET POST DELETE;
        root /guarder-html/images;
        autoindex on;
    }

    location /cgi-bin {
        allow GET POST;
        cgi .py;
    }

    location / {
        root /guarder-html;
        index /index.html;
        allow GET POST;
    }

    location /css {
        allow GET;
    }

    location /uploads {
        allow GET POST DELETE;
        root /guarder-html/cgi-bin/uploads;
        autoindex on;
    }
}
