server {
    host 127.73.73.7;
	listen 80;
	server_name example.com www.example.com; 
    root www;
    index index.html;
    client_max_body_size 50;
    autoindex on;
    cgi .php ./cgi-bin/;
    allow GET POST;
	error_page 404 404.html;
	error_page 430 430.html;

    location /js {
        root /var/www/html;
        index index.html;
        allow GET POST DELETE;
		error_page 415 415.html;
    }

    location /css {
        root /var/www/html;
        index about.html;
        allow GET DELETE;
    }
}

