server {
    host 127.0.0.1;
	listen 8080;
	server_name example.com;
    client_max_body_size 5000000;

    location /js {
        allow GET POST;
    }

    location /images {
        allow GET POST;
        autoindex on;
    }

    location /cgi-bin {
        allow GET POST;
        cgi .py;
        deny DELETE;
    }

    location / {
        root /guarder-html;
        index /index.html;
        allow GET POST;
    }

    location /css {
        allow GET;
        return ../../DefaultError/403.html;
    }

    location /cgi-bin/uploads {
        allow GET POST;
        root /guarder-html/cgi-bin/uploads;
    }
    
    location /DefaultError {
        root /DefaultError;
        allow GET;
    }
}

server {
    host 127.0.1.1;
	listen 8080;
	server_name asstronaut.com;
    client_max_body_size 50000000;

    location / {
        root /space-science/upload;
        index /index.html;
        allow GET;
    }

    location /DefaultError {
        root /DefaultError;
        allow GET;
    }

    location /js {
        allow GET;
    }

}
