server {
    host 127.0.0.1;
	listen 8080;
	server_name example.com www.doisirmaosgays.com;
    client_max_body_size 5000000;
	error_page 404 /../DefaultError/404.html;

    location /js {
        allow GET POST;
    }

    location /images {
        allow GET POST;
        autoindex on;
    }

    location /cgi-bin {
        allow GET POST;
        cgi .py;
        deny DELETE;
    }

    location / {
        root /guarder-html;
        index /index.html;
        allow GET POST;
    }

    location /css {
        allow GET;
        return ../../DefaultError/403.html;
    }

    location /cgi-bin/uploads; {
        allow GET POST;
        root /guarder-html/cgi-bin/uploads;
        index /dcella-d.jpg;
    }
}

server {
    host 127.0.456456.1;
	listen 8080;
	server_name example.com www.doisirmaosgays.com;
    client_max_body_size 50000000;
	error_page 404 /../DefaultError/404.html;

    location /js {
        allow GET POST;
    }

    location /images {
        allow GET POST;
        autoindex on;
    }

    location /cgi-bin {
        allow GET POST;
        cgi .py;
    }

    location / {
        root /guarder-html;
        index /index.html;
        allow GET POST;
    }

    location /css {
        allow GET;
        return ../../DefaultError/403.html;
    }

    location /cgi-bin/uploads; {
        allow GET POST;
        root /guarder-html/cgi-bin/uploads;
        index /dcella-d.jpg;
    }
}
